* {
    box-sizing: border-box;
}
body {
    font-family: Roboto, Arial, sans-serif;
    color: black;
}
button{
    border: none;
    cursor: pointer;
}
header {
    max-width: 1196px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 13px 0 20px;
}
.logo {
    width: 130px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    display: flex;
    gap: 5px;
}
.logo span {
    align-self: center;
}
.search {
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    width:100%;
    padding: 13px 50px 13px 20px;
    border: none;
}
.search-icon {
    border: none;
    background: transparent;
    position: absolute;
    top: 13px;
    right: 20px;
}
.search-form{
    position: relative;
    width: 620px;
}
.enter{
    border-radius: 50px;
    width: 99px;
    border: none;
    font-size: 14px;
    padding: 16px 29px;
}
.cart-icon{
    width: 50PX;
    height: 54px;
    background: url(images/cart.png) no-repeat;
    position: relative;
}
.cart-index{
    font-size: 8px;
    background: #FFAF19;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
}
.user-nav {
    display: flex;
    gap: 31px;
}
.slider {
    max-width: 1196px;
    margin: 0 auto;
}
.slider-item h1 {
    font-size: 50px;
    line-height: 51px;
    color: #FFFFFF;
    width: 390px;
}
.slider-item h2 {
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    width: 390px;
    margin-bottom: 32px;
}
.slider-bg1 {
    background-image: url(images/slider-bg1.png);
}
.slider-bg2 {
    background-image: url(images/Rectangle\ 1slider-bg2.png);
}
.slider-bg3 {
    background-image: url(images/Rectangle\ 1slider-bg3.png);
}
.slider-item {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 77px 0 77px 101px;
}
.slider-btn {
    width: 246px;
    background: #F47322;
    border-radius: 25px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    padding: 13px 53px;
}
.bonus {
    max-width: 1196px;
    margin: 50px auto;
    display: flex;
    gap: 54px;
}
.bonus-item {
    flex-basis: 50%;
    padding: 36px 32px 31px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.bonus-bg1 {
    background-image: url(images/bonus-bg1.png)
}.bonus-bg2 {
    background-image: url(images/bonus-bg2.png)
}
.bonus-item h3 {
    font-size: 24px;
    color: #FFFFFF;
}
.bonus-item p {
    font-size: 16px;
    color: #FFFFFF;
    width: 225px;
}
.price-bonus {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 500;
    margin-top: 52px;
}
.price p {
    font-size: 16px;
    color: #FFFFFF;
}
.bonus .price span{
    font-size: 30px;
    margin-bottom: 0;
}
.bonus-btn {
    width: 232px;
    height: 49px;
    left: 779px;
    top: 831px;
    background: #FFFFFF;
    border-radius: 50px;
    padding: 13px 52px;
    margin-top: 25px;
}
.owl-carousel .owl-nav button.owl-prev {
    background: url(images/arrow_l.png) no-repeat 50% 50% rgba(235, 235, 235, 0.7);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 17px;
}
.owl-carousel .owl-nav button.owl-next {
    background: url(images/arrow_r.png) no-repeat 50% 50% rgba(235, 235, 235, 0.7);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.owl-nav span {
    display: none;
}
.owl-nav {
    position: absolute;
    right: 46px;
    bottom: 39px;
}
.deliveri {
    max-width: 1196px;
    margin: 110px auto 0;
}
.deliveri h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.gallery {
    border-radius: 18px;
}
.gallery figure {
    border-radius: 10px;
    position: relative;
    margin: 0;
}
.gallery img {
    border-radius: 18px;
}
.gallery figcaption {
    position: absolute;
    top: 16px;
    left: 10px;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}
.catalog {
    width: 100%;
    background: #F6F6F6;
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 172px;
}
.categories {
    max-width: 1196px;
    margin: 0 auto;
}
.categories h2 {
    font-weight: 500;
    font-size: 32px;
}
.light-green {
    background: #D0FD89;
    border-radius: 30px;
}
.green {
    background: #AEBC41;
    border-radius: 30px;
}
.pink {
    background: #B86B78;
    border-radius: 30px;
}
.orang {
    background: #D68334;
    border-radius: 30px;
}
.red {
    background: #CD6255;
    border-radius: 30px;
}
.yellow {
    background: #FFFDBF;
    border-radius: 30px;
}
.light-pink {
    background: #FEF7FE;
    border-radius: 30px;
}
.dark {
    color: #49494F;
}
.white {
    color: #FFFFFF;
}
.categories ul {
    list-style: none;
    margin: 50px 0 62px;
    padding: 0;
    display: flex;
    gap: 58px;
}
.categories a {
    font-style: 20px;
    color: #49494F;;
}
a {
    text-decoration: none;
}
.ui-tabs-active .ui-tabs-anchor {
    color: #F37321;
}
.food-item {
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    flex-basis: 270px;
}
.food-item img {
    border-radius: 20px 20px 0 0;
    max-width: 100%;
}
.food-item h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin: 21px 23px 13px;
}
.food-item p {
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #B9B9BE;
    margin: 13px 27px 23px 26px;
}
.food-item .price {
    font-weight: 500;
    font-size: 23px;
    line-height: 23px;
    color: #4B4B51;
}
.food-item .weight {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #AAAAB1;
}
.food-card {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F37321;
    border: 2px solid #F37321;
    border-radius: 33px;
    padding: 16px 25px 15px;
    background: #FFFFFF;
}
.food-info {
    margin: 36px 24px 0 23px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 21px;
}
.food-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.food-examples {
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
}
.benefits {
    max-width: 1191px;
    margin: 0 auto;
}
.benefits-item svg {
    fill: #F37321;
    stroke:#F37321 ;
}
.benefits-item:hover svg {
    fill: #FFFFFF;
    stroke: #FFFFFF;
    stroke-width: 1;
}
.benefits-item {
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    padding: 30px 23px 25px 24px;
    text-align: center;
    flex-basis: 270px;
}
.benefits-item:hover {
    background: #F37321;
    border: 1px solid #F37321;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
}
.benefits-item h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}
.benefits-item p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #49494F;
}
.benefits-item:hover p {
    color: #FFFFFF;
}